@import '../../styles/config.scss';

.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20rem;

    &_perfil {
        width: 30rem;
        height: 30rem;
        
        &_img {
            border-radius: 50%;
        }
    }

    &_article {
        width: 57rem;

        &_title {
            font-family: $font-secundary;
            font-size: 4.5rem;
            line-height: 7rem;
        }

        &_txt {
            font-size: 1.8rem;
            color: $color-grey;
        }
    }
}