@import '../../styles/config.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 20rem;
    height: 80%;

    &_title {
        font-family: $font-secundary;
        font-size: 6rem;
        line-height: 7.8rem;

        span {
            color: $color-orange-secundary;
        }
    }

    &_subtitle {
        font-size: 2.4rem;
        color: $color-grey;
        margin-top: 1rem;
    }

    &_actions {
        display: flex;
        gap: 1rem;
        margin-block-start: 3rem;
        &_button {
                width: 14rem;
                height: 4.5rem;
                border-radius: .8rem;
                border: 0.1rem solid $color-orange-secundary;
                background-color: #A0A0A012;
                color: $color-orange-secundary;
                cursor: pointer;

                a {
                    width: 14rem;
                    height: 4.5rem;
                }
            
                &:hover {
                    background-color: #00000040;
                }

            }
        }
}