//Colors
$color-primary: #212529;
$color-secundary: #87949F;

$color-white: #fff;
$color-grey: #ccc;
$color-green: #13FFAA;
$color-orange: #F38C21;
$color-orange-secundary: #FF5A13;

//Fonts
$font-secundary: 'Iceland', cursive;
$font-primary: 'Poppins', sans-serif;