@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'config.scss';
:root {
  font-size: 10px;
}
html,
body {
  font-family: Poppins;
  font-size: 16px;
  background-color: $color-primary;
  color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}